# Introduction to Pandas

In this section of the course we will learn how to use pandas for data analysis. In this section of the course, you should go through the notebooks in this order:

* Series
* DataFrames
* Missing Data
* GroupBy
* Merging,Joining,and Concatenating
* Operations
* Data Input and Output

# Series

In [1]:
import numpy as np

In [3]:
import pandas as pd

In [6]:
_labels_list = ['ank','ist','izm']
_data = ['06','34','35']
_arr_np = np.array(_data)
_dictionary = {'ank':'06', 'ist':'34', 'izm':'35'}

In [11]:
#pass python list o the pandas
pd.Series(data=_data)

0    06
1    34
2    35
dtype: object

In [13]:
# pass numpy array to the pandas
pd.Series(data= _arr_np)

0    06
1    34
2    35
dtype: object

In [15]:
# pass dictionary to the pandas
pd.Series(_dictionary)

ank    06
ist    34
izm    35
dtype: object

In [17]:
_pd = pd.Series(data=_arr_np, index=_labels_list)

In [18]:
_pd

ank    06
ist    34
izm    35
dtype: object

In [21]:
# you cann access the data with index
_pd['ank']

'06'

In [22]:
_ser1 = pd.Series([45,2,45,76,77],['a','b','c','d','e'])