In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
GRP = ['Turkey','Turkey','Turkey','Turkey','Iran','Iran','Iran']
CTY = ['IST','ANK','IZM','ANT','TBZ','THR','ISF']

In [12]:
hier_index = list(zip(GRP,CTY))

In [13]:
hier_index

[('Turkey', 'IST'),
 ('Turkey', 'ANK'),
 ('Turkey', 'IZM'),
 ('Turkey', 'ANT'),
 ('Iran', 'TBZ'),
 ('Iran', 'THR'),
 ('Iran', 'ISF')]

In [14]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [20]:
_df = pd.DataFrame(randn(7,6),hier_index,['A','B','C','D','E','F'])

In [21]:
_df

                   A         B         C         D         E         F
Turkey IST -1.082910 -1.435315  0.288373  0.368712  0.928840  0.431659
       ANK  0.579241 -1.333883 -1.805162  0.558516 -0.955413  0.005685
       IZM  0.055717  2.226630  0.718575 -0.327485 -0.851685 -1.005062
       ANT  0.540700 -0.833899  0.189683  2.743569  0.364161 -1.458158
Iran   TBZ -1.349109 -0.746492  0.065953 -0.029275  0.103586  0.093870
       THR  1.180027 -0.024069 -0.754514 -0.541547 -0.097847 -0.819321
       ISF -0.030115 -2.053718  1.095889 -0.459535  0.306205  0.888493

In [23]:
_df.loc['Turkey']

            A         B         C         D         E         F
IST -1.082910 -1.435315  0.288373  0.368712  0.928840  0.431659
ANK  0.579241 -1.333883 -1.805162  0.558516 -0.955413  0.005685
IZM  0.055717  2.226630  0.718575 -0.327485 -0.851685 -1.005062
ANT  0.540700 -0.833899  0.189683  2.743569  0.364161 -1.458158

In [24]:
_df.loc['Turkey'].loc['ANK']

A    0.579241
B   -1.333883
C   -1.805162
D    0.558516
E   -0.955413
F    0.005685
Name: ANK, dtype: float64

In [25]:
_df.index.names

FrozenList([None, None])

In [26]:
_df.index.names = ['GRP','CTY']

In [27]:
_df

                   A         B         C         D         E         F
GRP    CTY
Turkey IST -1.082910 -1.435315  0.288373  0.368712  0.928840  0.431659
       ANK  0.579241 -1.333883 -1.805162  0.558516 -0.955413  0.005685
       IZM  0.055717  2.226630  0.718575 -0.327485 -0.851685 -1.005062
       ANT  0.540700 -0.833899  0.189683  2.743569  0.364161 -1.458158
Iran   TBZ -1.349109 -0.746492  0.065953 -0.029275  0.103586  0.093870
       THR  1.180027 -0.024069 -0.754514 -0.541547 -0.097847 -0.819321
       ISF -0.030115 -2.053718  1.095889 -0.459535  0.306205  0.888493

In [28]:
_df.loc['Iran'].loc['TBZ']['D']

-0.0292751192747812

In [29]:
# XS cross-section (row(s) or column(s) from the dataframe)

In [31]:
GRP = ['Turkey','Turkey','Turkey','Turkey','Iran','Iran','Iran']
CTY = [1,2,3,4,1,2,3]
hier_index = list(zip(GRP,CTY))
hier_index = pd.MultiIndex.from_tuples(hier_index)
_df1 = pd.DataFrame(randn(7,6),hier_index,['A','B','C','D','E','F'])

In [32]:
_df1

                 A         B         C         D         E         F
Turkey 1  0.001618  1.115675  0.103556  0.671535  1.244827  0.901202
       2 -1.249905  0.826044 -0.852471 -0.805678  0.021917 -0.590081
       3  0.800895 -0.128183 -0.541901  0.446926 -0.071758 -1.024614
       4  0.615657 -2.455598 -0.287100  0.492825  0.593422  2.306849
Iran   1 -0.166339  0.635364 -0.100287  1.423988 -0.151471  0.524130
       2 -0.930494  1.338205 -0.558816 -0.372632 -0.070154  0.593511
       3  0.978374 -0.276312  0.857424  0.653800 -1.050280 -1.419598

In [33]:
_df1.index.names = ['GRP','Num']

In [34]:
_df1

                   A         B         C         D         E         F
GRP    Num
Turkey 1    0.001618  1.115675  0.103556  0.671535  1.244827  0.901202
       2   -1.249905  0.826044 -0.852471 -0.805678  0.021917 -0.590081
       3    0.800895 -0.128183 -0.541901  0.446926 -0.071758 -1.024614
       4    0.615657 -2.455598 -0.287100  0.492825  0.593422  2.306849
Iran   1   -0.166339  0.635364 -0.100287  1.423988 -0.151471  0.524130
       2   -0.930494  1.338205 -0.558816 -0.372632 -0.070154  0.593511
       3    0.978374 -0.276312  0.857424  0.653800 -1.050280 -1.419598

In [35]:
# XS cross-section (row(s) or column(s) from the dataframe)
_df1.xs(2,level='Num')

               A         B         C         D         E         F
GRP
Turkey -1.249905  0.826044 -0.852471 -0.805678  0.021917 -0.590081
Iran   -0.930494  1.338205 -0.558816 -0.372632 -0.070154  0.593511